
	<div class="" id="footer-all">
		<div class="social-media-block news-block">
				<p> NEWS </p>
				<ul>
					<li> <%= link_to( image_tag("news-icons-h.svg") , "http://revistas.elheraldo.co/gente-caribe/moda/daniella-batlle-y-la-revelacion-de-su-estilo-132719" ) %>  </li>
					<li> <%= link_to( image_tag("news-icons-j.svg") , "http://m.jetset.com.co/sociedad/barranquilla/galeria/lanzamiento-le-jardin-en-barranquilla/120871" ) %>  </li>
					<li> <%= link_to( image_tag("news-icons-t.svg") , "http://trendsvip.com/daniella-batlle-un-nuevo-referente-de-moda/" ) %>  </li>
					<li> <%= link_to( image_tag("news-icons-n.svg") , "http://www.lanacion.com.co/index.php/noticias/farandula/item/249443-daniella-batlle-marcar-tendencia-creyendo-en-lo-nuestro" ) %>  </li>
					<li>   </li>
					<li>   </li>
					<li>   </li>
					<li> <%= link_to( image_tag("news-icons-c.svg") , "http://www.cromos.com.co/moda-premios-cromos/nominados-de-plataforma-k-los-premios-cromos-de-la-moda-2015-16936" ) %>  </li>	
					<li> <%= link_to( image_tag("news-icons-h.svg") , "http://m.elheraldo.co/moda/daniela-batlle-martha-rey-y-finalista-del-concurso-chica-m-nominadas-los-premios-cromos-de-la" ) %>  </li>	
					<li> <%= link_to( image_tag("news-icons-a.svg") , "http://m.alo.co/blogs/kymonidesigner/segundo-dia-en-plataforma-k-20151" ) %>  </li>	
					<li> <%= link_to( image_tag("news-icons-h.svg") , "http://m.elheraldo.co/moda/lluvia-de-estampados-la-moda-de-daniella-batlle-187536" ) %>  </li>	
				</ul>
		</div>
	</div>

		
	

