
<%= render 'slider' %>




<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="content-block"> 
				<%= image_tag("cblock-01.jpg") %>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="content-block-2 content-block"> 
				<%= image_tag("cblock-02.jpg") %>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12">
			<div class="social-media-block">
				<p> LETS TALK </p>
				<ul>
					<li> <%= link_to( image_tag("social-media-icons-01.svg") , "https://www.facebook.com/daniella.batlleabello" ) %>  </li>
					<li> <%= link_to( image_tag("social-media-icons-03.svg") , "#" ) %>  </li>
					<li> <%= link_to( image_tag("social-media-icons-05.svg") , "https://instagram.com/danybatlle/" ) %>  </li>			
				</ul>
			</div>
		</div>
	</div>
</div>


